<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
          <strong>
            <%= comments.name %>: <%= comments.comment %>
          </strong>
        </p>
      </div>
    </div>
    <%= button_to "Delete", [comment.post, comment], method: :delete, class: "button is-danger", data: { confirm: "Are you sure?" } %>
  </article>
</div>