<div class="section">
    <div class="container">
        <h1 class="title">
          <%=  @post.title %>
        </h1>
        <p class="subtitle">
            <%= @post.content %>
        </p>
    </div>
</div>